= image_tag @pin.image.url(:medium)
%h1= @pin.title
%p= @pin.description
%p
  Agregado por:
  = @pin.user.email

= link_to "Listado de pins", root_path
= link_to "Editar", edit_pin_path
= link_to "Borrar", pin_path, method: :delete, data: { confirm: "Seguro?" }

